stages:
  - build
  - builddev
  - deploymaster
  - deploydev
  - ontags

packen:
  image: node:hydrogen
  stage: build
  script:
    - PATH="./node_modules/.bin:$PATH"
    - npm install yarn
    - yarn
    - yarn run build
    - cd build
    - if [ "${CI_COMMIT_TAG}" != "" ]; then TAG="-${CI_COMMIT_TAG}"; else TAG="-latest"; fi
    - tar -czf ${CI_PROJECT_NAME}${TAG}.tar.gz *
    - mkdir ../release
    - mv ./${CI_PROJECT_NAME}${TAG}.tar.gz ../release/
    - cd ..
  artifacts:
    paths:
      - ./release
      - ./build
  only:
    - master
    - tags

packen_dev:
  image: node:hydrogen
  stage: builddev
  script:
    - PATH="./node_modules/.bin:$PATH"
    - npm install yarn
    - yarn
    - yarn run dev
  artifacts:
    paths:
      - ./build
  only:
    - development

deploy:
  image: alpine:latest
  stage: deploymaster
  script:
    - apk add --no-cache openssh
    - eval $(ssh-agent -s)
    - echo "$DEPLOY_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh -o stricthostkeychecking=no deploy@5.189.136.208 "rm -rf ./tools/struktog/*"
    - scp -o stricthostkeychecking=no -r ./build/* deploy@5.189.136.208:tools/struktog

  variables:
    GIT_STRATEGY: none
  only:
    - master

ontags:
  image: alpine:latest
  stage: ontags
  script:
    - apk add --no-cache openssh
    - eval $(ssh-agent -s)
    - echo "$DEPLOY_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - scp -o stricthostkeychecking=no -r ./release/${CI_PROJECT_NAME}-${CI_COMMIT_TAG}.tar.gz deploy@5.189.136.208:tools/releases/struktog
  only:
    - tags

deploydev:
  image: alpine:latest
  stage: deploydev
  script:
    - apk add --no-cache openssh
    - eval $(ssh-agent -s)
    - echo "$DEPLOY_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh -o stricthostkeychecking=no deploy@5.189.136.208 "rm -rf ./tools/dev/struktog/*"
    - scp -o stricthostkeychecking=no -r ./build/* deploy@5.189.136.208:tools/dev/struktog
  variables:
    GIT_STRATEGY: none
  only:
    - development
